
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form input,
form button {
    display: block;
    width: 500px;
    margin-bottom: 8px;
    padding: 8px;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body, input,
button {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin-bottom: 20px;
}

form button {
    padding: 16px;
    color: white;
    border: none;
    cursor: pointer;
}

.success-message {
    background-color: rgb(20, 41, 80);
    padding: 14px;
    color: white;
    font-size: 14px;
}

.campoA {
    color: red;
    border-color: red;
    outline-color: red;
}

.error-message {
    font-size: 12px;
    padding: 8px;
    display: none;
    background-color: red;
    color: white;
    margin-bottom: 8px;
}

label[for="campoA"],
input#campoA {
    margin-top: 8px; }

    label[for="campoB"],
    input#campoB {
        margin-top: 8px; }